@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    /* IE9*/
    
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('iconfont.woff') format('woff'),
    /* chrome、firefox */
    
    url('iconfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    
    url('iconfont.svg#uxiconfont') format('svg');
    /* iOS 4.1- */
}
@font-face {
    font-family: 'DIN';
    src: url('DIN.ttf') format('truetype');
}
@font-face {
    font-family: 'sfudinblod';
    src: url('sfudinblod.ttf') format('truetype');
}
@font-face {
    font-family: 'DIN BOLD';
    src: url('DIN BOLD.ttf') format('truetype');
}
@font-face {
    font-family: 'sfudinlight';
    src: url('sfudinlight.ttf') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@keyframes keydown {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes keydown {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@-moz-keyframes keydown {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@-o-keyframes keydown {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@-ms-keyframes keydown {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes replay {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@-moz-keyframes replay {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes replay {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@-ms-keyframes replay {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@-o-keyframes replay {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes gameover {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
@-webkit-keyframes gameover {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
@-moz-keyframes gameover {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
@-ms-keyframes gameover {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
@-o-keyframes gameover {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
@keyframes a1 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes a1 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes a2 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@keyframes a2 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes a3 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@keyframes a3 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@keyframes a4 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes a4 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@keyframes a5 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes a5 {
    0% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}
.animation-a1 {
    -webkit-animation: a1 0.2s cubic-bezier(.49, 0, 1, .5) forwards;
    -moz-animation: a1 0.2s cubic-bezier(.49, 0, 1, .5) forwards;
    -ms-animation: a1 0.2s cubic-bezier(.49, 0, 1, .5) forwards;
    animation: a1 0.2s cubic-bezier(.49, 0, 1, .5) forwards;
}
.animation-a2 {
    -webkit-animation: a2 0.2s cubic-bezier(.49, 0, 1, .5) 0.2s forwards;
    -moz-animation: a2 0.2s cubic-bezier(.49, 0, 1, .5) 0.2s forwards;
    -ms-animation: a2 0.2s cubic-bezier(.49, 0, 1, .5) 0.2s forwards;
    animation: a2 0.2s cubic-bezier(.49, 0, 1, .5) 0.2s forwards;
}
.animation-a3 {
    -webkit-animation: a3 0.2s cubic-bezier(.49, 0, 1, .5) 0.4s forwards;
    -moz-animation: a3 0.2s cubic-bezier(.49, 0, 1, .5) 0.4s forwards;
    -ms-animation: a3 0.2s cubic-bezier(.49, 0, 1, .5) 0.4s forwards;
    animation: a3 0.2s cubic-bezier(.49, 0, 1, .5) 0.4s forwards;
}
.animation-a4 {
    -webkit-animation: a4 0.2s cubic-bezier(.49, 0, 1, .5) 0.6s forwards;
    -moz-animation: a4 0.2s cubic-bezier(.49, 0, 1, .5) 0.6s forwards;
    -ms-animation: a4 0.2s cubic-bezier(.49, 0, 1, .5) 0.6s forwards;
    animation: a4 0.2s cubic-bezier(.49, 0, 1, .5) 0.6s forwards;
}
.animation-a5 {
    -webkit-animation: a5 0.2s cubic-bezier(.49, 0, 1, .5) 0.8s forwards;
    -moz-animation: a5 0.2s cubic-bezier(.49, 0, 1, .5) 0.8s forwards;
    -ms-animation: a5 0.2s cubic-bezier(.49, 0, 1, .5) 0.8s forwards;
    animation: a5 0.2s cubic-bezier(.49, 0, 1, .5) 0.8s forwards;
}
.animation-keydown {
    animation: keydown 0.2s ease-in;
    -webkit-animation: keydown 0.2s ease-in;
    -moz-animation: keydown 0.2s ease-in;
    -ms-animation: keydown 0.2s ease-in;
}
.animation-replay {
    animation: replay 3s ease-in 1s infinite;
    -webkit-animation: replay 3s ease-in 1s infinite;
    -moz-animation: replay 3s ease-in 1s infinite;
    -ms-animation: replay 3s ease-in 1s infinite;
    -o-animation: replay 3s ease-in 1s infinite;
}
.msg-gameover {
    animation: gameover 1.5s ease-in .5s;
    -webkit-animation: gameover 1.5s ease-in .5s;
    -moz-animation: gameover 1.5s ease-in .5s;
    -ms-animation: gameover 1.5s ease-in .5s;
    -o-animation: gameover 1.5s ease-in .5s;
}
/*颜色*/

.icon-red {
    color: #ff5b4c;
    /*background: red;*/
    /*background-clip: text;*/
}
.red {
    color: #FF2828;
}
.yellow {
    color: #ffde38;
}
.blue {
    color: #5baff0;
}
.green {
    color: #bbd64f;
}
.purple {
    color: #ba75e6;
}
.white {
    color: #fff;
}
.orange {
    color: #FF9000;
}
.pink {
    color: #FFB6C1;
}
.magenta {
    color: #FF00FF;
}
.black {
    color: #000;
}
.cyan {
    color: #00FFFF;
}
.tomato {
    color: #FF6347;
}
.gray {
    color: #666;
}
.bg-red {
    background: #ff5b4c;
}
.bg-yellow {
    background: #ffde38;
}
.bg-blue {
    background: #5baff0;
}
.bg-green {
    background: #bbd64f;
}
.bg-purple {
    background: #ba75e6;
}
.bg-white {
    background: #fff;
}
.bg-orange {
    background: orange;
}
.bg-gray {
    background: #666;
}
